/* GLOBAL */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4a4b4c;
    line-height: 22px;
}


/* CSS */
.container{
    max-width: 1440px;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 50px;
    padding-right: 50px;
}


/* HEADER */
.site-header-top {
    background: #f6f6f6;
    padding-top: 30px;
    padding-bottom: 30px;
}
.site-header-top-container {
    display: flex;
    align-items: center;
}

.site-logo {
    display: flex;
    background: #fff;
    border-radius: 7px;
    padding: 6px 8px;
    margin-right: 35px;
}

.site-logo:hover{
    opacity: 0.8;
}

.site-logo:active{
    opacity: 0.6;
}

/* CURRENCY */
.currency-list {
    display: flex;
    list-style: none;
    margin-right: 247px;
}
.currency-item {
    margin-right: 25px;
}
.currency-item-type {
    color: #2959CE;
}


/* HEADER TOP INPUT */
.header-top-input{
    display: flex;
    margin-right: 25px;
    border: none;
}

.header-top-input input{
    width: 275px;
    height: 45px;
    border: none;
    border-radius: 60px;
    padding: 13px 20px 13px 40px;
    background: url(../img/Mask.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 15px 13px;    
}

.header-top-input ::placeholder{
    font-size: 14px;
    width: 42px;
    height: 17px;
    line-height: 17px;
    color: #8d8d8d;
}


/* LANGUAGE */
.language-toggle{
    display: flex;
    background: #dce6ff;
    border-radius: 39px;
    padding: 3px;
    margin-right: 25px;
}
.language-toggle-item {
    height: 30px;
    width: 30px;
    text-decoration: none;
    font-size: 13px;
    color: #a6a6a6;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
.language-toggle-item-active {
    background-color: #fff;
    color: #000;
}


/* HEADER TOP BUTTON */
.button {
    border-radius: 10px;
}

.button:hover{
    opacity: 0.8;
}

.button:active{
    opacity: 0.6;
}

.button-primary {
    text-decoration: none;
    color: #fff;
    background: #7296EC;
    height: 45px;
    width: 89px;
    text-align: center;
    line-height: 45px;
}

.sitenav {
    display: inline-block;
}
.sitenav__items {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    display: inline-block;
    border-bottom: 1px solid #d1d1d1;
}
.sitenav__item {
    display: inline-block;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.sitenav__item :hover{
    opacity: 0.8;
}

.sitenav__item:active{
    opacity: 0.6 ;
}

.sitenav__item:not(:last-child){
    margin-right: 35px;
}

.sitenav__item a{
    text-decoration: none;
    color: #7f7f7f;
}


/* BANNER IMAGE */
.site-banner-img{
    margin-top: 40px;
    margin-bottom: 50px;
}

.site-banner-img:hover{
    opacity: 0.8;
}

.site-banner-img:active{
    opacity: 0.6;
}

.site-banner-img img{
    border-radius: 8px;
}

/* MAIN  CARDS */
.main-card-logo-item{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.card-item{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-left: 32px;
}

.card-logo{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-1{
    width: 413px;
    height: 400px;
    padding: 20px 17px 15px;
    margin-right: -70px;
    border-radius: 15px;
    background: #f6f6f6;
    margin-bottom: 10px;
}

.card-1:hover{
    opacity: 0.8;
}

.card-1:active{
    opacity: 0.6;
}

.card-1 h3{
    width: 358px;
    height: 78px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin: 10px 0px;
}

.card-2{
    width: 413px;
    height: 400px;
    padding: 20px 17px 15px;
    background: #f6f6f6;
    border-radius: 15px;
    margin-right: -70px;
    margin-bottom: 60px;
}

.card-2:hover{
    opacity: 0.8;
}

.card-2:active{
    opacity: 0.6;
}

.card-2 h3{
    width: 358px;
    height: 78px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    margin: 10px 0px;
}

.card-3{
    width: 413px;
    height: 400px;
    border-radius: 15px;
    background: #f6f6f6;
    margin-right: -70px;
    margin-bottom: 10px;
    padding: 20px 17px 18px;
}

.card-3:hover{
    opacity: 0.8;
}

.card-3:active{
    opacity: 0.6;
}

.card-3 h3{
    width: 346px;
    height: 78px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    margin: 10px 0px;
}

.card-4{
    width: 413px;
    height: 400px;
    padding: 20px 17px 15px;
    border-radius: 15px;
    background: #f6f6f6;
    margin-right: -70px;
    margin-bottom: 60px;
}

.card-4:hover{
    opacity: 0.8;
}

.card-4:active{
    opacity: 0.6;
}

.card-4 h3{
    width: 346px;
    height: 78px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    margin: 10px 0px;
}

.card-5{
    width: 413px;
    height: 400px;
    border-radius: 15px;
    padding: 20px 17px 15px;
    margin-right: 90px;
    background: #f6f6f6;
    margin-bottom: 10px;
}

.card-5:hover{
    opacity: 0.8;
}

.card-5:active{
    opacity: 0.6;
}

.card-5 h3{
    width: 346px;
    height: 78px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #000;
    margin: 10px 0px;
}

.card-5-item{
    width: 354px;
    height: 44px;
    padding-top: 0;
    padding-top: -10px;
}

.card-6{
    width: 413px;
    height: 400px;
    padding: 20px 17px 15px;
    border-radius: 15px;
    background: #f6f6f6;
    margin-bottom: 60px;
    margin-right: 90px;
}

.card-6:hover{
    opacity: 0.8;
}

.card-6:active{
    opacity: 0.6;
}

.card-6 h3{
    width: 338px;
    height: 78px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    margin: 10px 0px;
}


/* ARTICLE IMAGE */
.notification {
    background:no-repeat url(../img/notification.png);
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 100px;
    border-radius: 10px;
}

.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.notif-content {
    color: #000;
    width: 404px;
    padding-left: 29px;
    font-weight: 500;
}

.notification-link {
    text-decoration: none;
    color: #fff;
    padding: 13px 30px;
    background: #F78B3B;
    border-radius: 10px;
}

.notification-link:hover {
    opacity: 0.8;
}

.notification-link:active {
    opacity: 0.6;
}

.notification-link {
    margin-right: 71px;
}


/* GLOBAL NEWS */
.first-heading {
    font-size: 24px;
    color: #000;
}

.global-news {
    margin-right: 10px;
}

.global-news-container {
    margin-bottom: 100px;
}

.global-news_1 {
    background: #f6f6f6;
    border-radius: 15px;
    display: flex; 
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content: space-between;
    width: 797px;
    height: 205px;
    margin-bottom: 10px;
}

.global-news_1 img {
    padding: 20px 15px 20px 17px
}

.heading-1 {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    line-height: 26px;
    width: 535px;
    height: 52px;
    margin-bottom: 10px;
}

.paragraph-1 {
    font-size: 16px;
    color: #4A4B4C;
    line-height: 22px;
    padding-left: 15px;
    width: 535px;
    height: 66px;
    margin-top: -120px;
    margin-left: 237px;
    margin-bottom: 20px;
}

.global-news-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -53px;
    margin-left: 237px;
}

.bottom-p{
    font-size: 12px;
}

.global-news_2 {
    background: #f6f6f6;
    border-radius: 15px;
    display: flex; 
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content: space-between;
    width: 797px;
    height: 205px;
    margin-bottom: 10px;
}

.global-news_2 img {
    padding: 20px 15px 20px 17px
}

.global-news_3 {
    background: #f6f6f6;
    border-radius: 15px;
    display: flex; 
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content: space-between;
    width: 797px;
    height: 205px;
    margin-bottom: 10px;   
}

.global-news_3 img {
    padding: 20px 15px 20px 17px
}

.global-news_4 {
    background: #f6f6f6;
    border-radius: 15px;
    display: flex; 
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content: space-between;
    width: 797px;
    height: 205px;
    margin-bottom: 10px;   
}

.global-news_4 img {
    padding: 20px 15px 20px 17px
}

.global-news_5 {
    width: 797px;
    height: 53px;
    background: #f6f6f6;
    border-radius: 10px;
}

.global-link {
    text-decoration: none;
    color: #000;
    line-height: 53px;
    padding-left: 343px;
    padding-left: 343px;
    font-size: 16px;
    margin-bottom: 100px;
}

.global-link:hover {
    opacity: 0.8;
}

.global-link:active {
    opacity: 0.6;
}

.global-news-right {
    width: 450px;
    height: 502px;
    background: #f6f6f6;
    margin-left: auto;
    margin-right: 70px;
    border-radius: 15px;
    margin-top: -857px;    
    color: #000;
}

.right-container {
    width: 416px;
    padding-top: 20px;
    padding-left: 17px;
    padding-right: 17px;
}

.bottom-content {
    flex-direction: column;
    width: 311px;
    margin-bottom: 20px;
    border-bottom: 1px solid #D2D2D2;
}

.bottom-content h3 {
    font-weight: 500;
}

.bottom-content-p {
    font-size: 13px;
    margin-top: -11px;
}

.bottom-content-last {
    width: 356px;
    margin-bottom: 20px;
    border-bottom: 1px solid #D2D2D2;
}

.bottom-content-last h3 {
    font-weight: 500;
}

.right-bottom {
    margin-left: -15px;
    margin-bottom: 100px;
}

/* FOOTER */
.main-footer{
    margin-left: -120px;
    margin-top: 500px;
    width: 1519px;
    height: 356px;
    background:#7297EF;
    margin-bottom: -100px;
}

.footer-container {
    width: 1000px;
    margin-left: 221px;
    margin-top: 40px;   
}

.footer-logo:hover {
    opacity: 0.8;
}

.footer-logo:active {
    opacity: 0.6;
}

.info-paragraph {
    width: 229px;
    color: #fff;
    font-size: 12px;
    margin-right: 203px;
}

.info-links {
   width: 1000px;
   display: flex;
   align-items: center;
   margin-bottom: 30px;
    border-bottom: 2px solid #cecece;
}

.column-1 {
    width: 167px;
    height: 136px;
    margin-right: 100px;
    margin-bottom: -35px;
}

.column-2 {
    width: 224px;
    height: 97px;
}

.footer-list {
    display: flex;
    align-items: center;
}

.footer-item {
    list-style: none;
    margin-bottom: 20px;
}

.info-links a{
    text-decoration: none;
    color: #fff;
    padding-bottom: 20px;
}


.footer-content {
    margin-top: -40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-heading {
    color: #fff;
    font-weight: 500;
}

.social-images img:not(:last-child) {
    margin-right: 25px;
}

